{% extends 'forum/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">

                <!-- Forum -->
                <div class="post beforepagination">
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="images/avatar.jpg" alt="">
                                <div class="status green">&nbsp;</div>
                            </div>

                            <div class="icons">
                                <img src="images/icon1.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt="">
                            </div>
                        </div>
                        <div class="posttext pull-left">

                            <h2><a href="{{ path('forum_edit',{'id':forum.id}) }}">{{ forum.title }}</a></h2>

                            <p> {{ forum.content }} </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfobot">

                        <div class="likeblock pull-left">
                            {# //////////////////////start /////////////////////////#}
                            <div style="display: inline-block;">
                            {{ form_start(formulaireLike) }}
                            {% if didHeLIkeIt == null %}
                            <a href="#" class="up"  >
                                    <span  class="" id="like"> {{ form_widget(formulaireLike.ok) }}</span></a>

                            {% endif %}
                                {% set count = 0 %}
                                {% for like in likes %}
                                    {% if like.forum == forum %}
                                        {% set count = count + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {{ count }}

                            <span  class="hidden" id="like"> {{ form_widget(formulaireLike.ok) }}</span>
                            {{ form_end(formulaireLike) }}
                            </div>
                            {# //////////////////////ends /////////////////////////#}


                            {# //////////////////////start /////////////////////////#}
                            <div style="display: inline-block;">
                            {{ form_start(formulaireDisLike) }}
                            {% if didHeDisLIkeIt == null %}
                                <a href="#" class="down">
                                    <span  class="" id="dislike"> {{ form_widget(formulaireDisLike.ok) }}</span>
                                </a>

                            {% endif %}
                            {% set countD = 0 %}
                            {% for dislike in dislikes %}
                                {% if dislike.forum == forum %}
                                    {% set countD = countD + 1 %}
                                {% endif %}
                            {% endfor %}
                            {{ countD }}

                            <span id="dislike"> {{ form_widget(formulaireDisLike.ok) }}</span>
                            {{ form_end(formulaireDisLike) }}
                            </div>
                            {# //////////////////////ends /////////////////////////#}
                        </div>

                        <div class="prev pull-left">
                        </div>

                        <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : {{ forum.createdAt|date('d M @ h:ma') }}</div>

                        <div class="next pull-right">

                            {% if app.user == forum.user  %}
                                <a class="btn btn-danger" href="{{ path('forum_delete',{'id':forum.id}) }}">D</a>
                            {% endif %}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Forum -->

                <div class="paginationf">
                    <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                    <div class="pull-left">
                        <ul class="paginationforum">
                            <li class="hidden-xs"><a href="#">1</a></li>
                            <li class="hidden-xs"><a href="#">2</a></li>
                            <li class="hidden-xs"><a href="#">3</a></li>
                            <li class="hidden-xs"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#" class="active">7</a></li>
                            <li><a href="#">8</a></li>
                            <li class="hidden-xs"><a href="#">9</a></li>
                            <li class="hidden-xs"><a href="#">10</a></li>
                            <li class="hidden-xs hidden-md"><a href="#">11</a></li>
                            <li class="hidden-xs hidden-md"><a href="#">12</a></li>
                            <li class="hidden-xs hidden-sm hidden-md"><a href="#">13</a></li>
                            <li><a href="#">1586</a></li>
                        </ul>
                    </div>
                    <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                    <div class="clearfix"></div>
                </div>
                {% for reply in replys %}
                <!-- Replay -->
                <div class="post">
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="{{ asset('forum/images/avatar2.jpg') }}" alt="">
                                <div class="status red">&nbsp;</div>
                            </div>

                            <div class="icons">

                                <a href="{{ path('reply_plus',{'id':reply.id}) }}">
                                    <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10z"></path></svg>
                                </a>
                                <a href="{{ path('reply_moins',{'id':reply.id}) }}">
                                    <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26z"></path></svg>
                                </a>
                            </div>
                        </div>

                        <div class="posttext pull-left">
                            <p style="padding: 10px">{{ reply.content }}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfobot">


                        <div class="posted pull-left">
                            <i class="fa fa-clock-o"></i> Posted on : {{ reply.createdAt|date('d M @ h:ma') }}
                        </div>

                        <div class="next pull-right">
                            {% if app.user == reply.user  %}
                            <a class="btn btn-info" href="{{ path('reply_edit',{'id':reply.id}) }}"> E </a>
                            <a class="btn btn-danger" href="{{ path('reply_delete',{'id':reply.id}) }}"> D </a>
                            {% endif %}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Reply -->
                {% endfor %}

                {{ form_start(formulaire) }}
                <!-- Add Replay-->
                <div class="post">

                    <div class="topwrap">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="{{ asset('forum/images/avatar4.jpg') }}" alt="">
                                <div class="status red">&nbsp;</div>
                            </div>

                            <div class="icons">
                                <img src="images/icon3.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt="">
                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <div class="textwraper">
                                <div class="postreply">Post a Reply</div>
                                {{ form_widget(formulaire.content) }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfobot">

                        <div class="notechbox pull-left">
                            <input type="checkbox" name="note" id="note" class="form-control">
                        </div>

                        <div class="pull-left">
                            <label for="note"> Email me when some one post a reply</label>
                        </div>

                        <div class="pull-right postreply">
                            <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                            {{ form_widget(formulaire.sub) }}
                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>


                </div>
                {{ form_end(formulaire) }}
                <!-- Add Replay -->


            </div>

        </div>
    </div>


{% endblock %}