<header>

    <div class="full-header">

        <div class="header-left">
            <div id="logo">
                <a href="index9328.html?route=common/home"><img src="{{ asset('images/catalog/logo.png') }}" title="Your Store" alt="Your Store" class="img-responsive" /></a>
            </div>
        </div>

        <div class="right-block">
            <div class="search"><div id="search" class="input-group">
                    <span class="ttsearch_button"><i class="fa fa-search"></i></span>
                    <div class="ttsearchtoggle">
                        <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                        <span class="input-group-btn">
		<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
	  </span>
                    </div>
                </div></div>
            <div class="user-info">
                <div class="dropdown"><a href="indexe223.html?route=account/account" title="my account" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                        <span class="ttuserheading">my account</span><i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right account-link-toggle">
                        <li><a href="index5502.html?route=account/register"><i class='fa fa-user'></i> Register</a></li>
                        <li><a href="indexe223.html?route=account/login"><i class='fa fa-sign-in'></i> Login</a></li>
                        <li><a href="indexe223.html?route=account/wishlist" id="wishlist-total" title="Wish List (0)"><i class="fa fa-heart"></i> <span class="hidden-sm hidden-md">Wish List (0)</span></a></li>
                        <li class="ttlanguage"><div class="pull-left">
                                <form action="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="form-language">
                                    <div class="btn-group">
                                        <button class="btn btn-link">

                                            <img src="{{ asset('images/catalog/language/en-gb/en-gb.png')}} " alt="English" title="English">
                                            <span class="hidden-xs hidden-sm hidden-md">Language</span></button>
                                        <ul>
                                            <li>
                                                <button class="btn btn-link btn-block language-select" type="button" name="en-gb"><img src="{{ asset('images/catalog/language/en-gb/en-gb.png') }}" alt="English" title="English" /> English</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-link btn-block language-select" type="button" name="ar-lb"><img src="{{ asset('images/catalog/language/ar-lb/ar-lb.png') }}" alt="Arabic" title="Arabic" /> Arabic</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                    <input type="hidden" name="redirect" value="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=product/product&amp;path=25&amp;product_id=30&amp;limit=100" />
                                </form>
                            </div>
                        </li>
                        <li class="ttcurrency"><div class="pull-left">
                                <form action="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                                    <div class="btn-group">
                                        <button class="btn btn-link">                               <strong>$</strong>        <span class="hidden-xs hidden-sm hidden-md">Currency</span></button>
                                        <ul>
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="GBP">£ Pound Sterling</button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                    <input type="hidden" name="redirect" value="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=product/product&amp;path=25&amp;product_id=30&amp;limit=100" />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart"><div id="cart" class="btn-group">
                    <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i>
                        <span class="cart-heading">Checkout</span>
                        <span id="cart-total">0</span></button>
                    <ul class="dropdown-menu pull-right header-cart-toggle">
                        <li>
                            <p class="text-center">Your shopping cart is empty!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header-left-cms">
            <aside id="header-left">
                <div class="main-category-list left-main-menu">
                    <div class="cat-menu">
                        <div class="TT-panel-heading">
                            <span>menu</span>
                        </div>
                        <div class="menu-category">
                            <ul class="dropmenu">
                                <li class="TT-Sub-List dropdown">
                                    <a href="index98dc.html?route=product/category&amp;path=20" class="TT-Category-List"> Assorted Shrubs</a>
                                    <span class="active_menu"></span>




                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled childs_1 mega-dropdown-menu columns-4" style="width: 800px;">

                                                <li class="dropdown first" style="width: 25%;">
                                                    <a href="indexd9fe.html?route=product/category&amp;path=20_26" class="single-dropdown">Mardi Gras</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="indexdedc.html?route=product/category&amp;path=26_60">
                                                                        Burning Bush</a>
                                                                </li>
                                                                <li><a href="indexc868.html?route=product/category&amp;path=26_85">
                                                                        Echinacea</a>
                                                                </li>
                                                                <li><a href="index296f.html?route=product/category&amp;path=26_59">
                                                                        Euonymus</a>
                                                                </li>
                                                                <li><a href="index9bed.html?route=product/category&amp;path=26_61">
                                                                        Gold Spot</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li class="dropdown first" style="width: 25%;">
                                                    <a href="indexf345.html?route=product/category&amp;path=20_27" class="single-dropdown">Golden King</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="indexb58f.html?route=product/category&amp;path=27_63">
                                                                        Dianthus</a>
                                                                </li>
                                                                <li><a href="indexeb9a.html?route=product/category&amp;path=27_86">
                                                                        Fern</a>
                                                                </li>
                                                                <li><a href="indexab21.html?route=product/category&amp;path=27_62">
                                                                        Firewitch</a>
                                                                </li>
                                                                <li><a href="indexe643.html?route=product/category&amp;path=27_64">
                                                                        Frosty Fire</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li class="dropdown first" style="width: 25%;">
                                                    <a href="indexed34.html?route=product/category&amp;path=20_87" class="single-dropdown">Rose Creek</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="index36e3.html?route=product/category&amp;path=87_91">
                                                                        Autumn</a>
                                                                </li>
                                                                <li><a href="indexe71b.html?route=product/category&amp;path=87_90">
                                                                        Grandifolius</a>
                                                                </li>
                                                                <li><a href="index9a68.html?route=product/category&amp;path=87_88">
                                                                        Green Boxleaf</a>
                                                                </li>
                                                                <li><a href="index8006.html?route=product/category&amp;path=87_97">
                                                                        Raulston's Gold</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li class="dropdown first" style="width: 25%;">
                                                    <a href="index8176.html?route=product/category&amp;path=20_92" class="single-dropdown">Canyon Creek</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="indexabf3.html?route=product/category&amp;path=92_96">
                                                                        Abelia</a>
                                                                </li>
                                                                <li><a href="index9075.html?route=product/category&amp;path=92_94">
                                                                        Ajuga</a>
                                                                </li>
                                                                <li><a href="index4aed.html?route=product/category&amp;path=92_95">
                                                                        Aucuba</a>
                                                                </li>
                                                                <li><a href="index484a.html?route=product/category&amp;path=92_93">
                                                                        Coreopsis</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                                <li class="TT-Sub-List dropdown">
                                    <a href="index1647.html?route=product/category&amp;path=25" class="TT-Category-List">Cypress</a>
                                    <span class="active_menu"></span>




                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled childs_1 mega-dropdown-menu columns-2" style="width: 400px;">

                                                <li class="dropdown first" style="width: 50%;">
                                                    <a href="index0f8f.html?route=product/category&amp;path=25_98" class="single-dropdown">Juniper</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="index9701.html?route=product/category&amp;path=98_101">
                                                                        Andorra</a>
                                                                </li>
                                                                <li><a href="index4187.html?route=product/category&amp;path=98_102">
                                                                        Bar Harbor</a>
                                                                </li>
                                                                <li><a href="indexd0cc.html?route=product/category&amp;path=98_100">
                                                                        Green Mound</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li class="dropdown first" style="width: 50%;">
                                                    <a href="index5f6a.html?route=product/category&amp;path=25_99" class="single-dropdown">Conifers</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="indexcebc.html?route=product/category&amp;path=99_105">
                                                                        Atlas</a>
                                                                </li>
                                                                <li><a href="indexdf36.html?route=product/category&amp;path=99_103">
                                                                        Canaan</a>
                                                                </li>
                                                                <li><a href="index0358.html?route=product/category&amp;path=99_104">
                                                                        Cedar</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                                <li class="TT-Sub-List dropdown">
                                    <a href="index4eb1.html?route=product/category&amp;path=65" class="TT-Category-List">Berries</a>
                                    <span class="active_menu"></span>




                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled childs_1 mega-dropdown-menu columns-2" style="width: 400px;">

                                                <li class="dropdown first" style="width: 50%;">
                                                    <a href="indexeeaf.html?route=product/category&amp;path=65_82" class="single-dropdown">Ornamental Grasses</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="indexd33f.html?route=product/category&amp;path=82_106">
                                                                        Dwarf Mondo</a>
                                                                </li>
                                                                <li><a href="index4149.html?route=product/category&amp;path=82_109">
                                                                        Liriope</a>
                                                                </li>
                                                                <li><a href="indexb8ee.html?route=product/category&amp;path=82_107">
                                                                        Variegated</a>
                                                                </li>
                                                                <li><a href="index73a6.html?route=product/category&amp;path=82_108">
                                                                        White Pampas</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li class="dropdown first" style="width: 50%;">
                                                    <a href="index1812.html?route=product/category&amp;path=65_81" class="single-dropdown">Flowering Varieties</a>

                                                    <div class="dropdown-menu">
                                                        <div class="dropdown-inner">
                                                            <ul class="list-unstyled childs_2">

                                                                <li><a href="index8683.html?route=product/category&amp;path=81_110">
                                                                        Azalea</a>
                                                                </li>
                                                                <li><a href="index37e6.html?route=product/category&amp;path=81_112">
                                                                        Gerbing</a>
                                                                </li>
                                                                <li><a href="indexb3c3.html?route=product/category&amp;path=81_111">
                                                                        Pink Ruffle</a>
                                                                </li>
                                                                <li><a href="index6524.html?route=product/category&amp;path=81_113">
                                                                        Purple Formosa</a>
                                                                </li>
                                                                <li><a href="#">
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <a href="sche">Forum</a>


                                </li>
                                <li>
                                    <a href="indexebd7.html?route=product/category&amp;path=67">Barberry</a>


                                </li>
                                <li>
                                    <a href="indexe1fb.html?route=product/category&amp;path=69">Spirea</a>


                                </li>
                                <li>
                                    <a href="index91c2.html?route=product/category&amp;path=71">Azaleas</a>


                                </li>
                                <li> <a href="indexf378.html?route=information/tt_blog/blogs">
                                        <span data-hover="Blogs">Blogs</span>
                                    </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </aside>

        </div>



    </div>

</header>
<div class="header-content-title">
    <div style="background-image: url{{ asset('images/parallax.jpg') }}; background-position: 50% 78.1106%;" data-source-url={{ asset('images/parallax.jpg') }}class="parallex">
    </div>
</div>