{% extends 'base.html.twig' %}

{% block body %}


    <body class="product-category-27">
    <div id="page">

        <div id="product-category" class="container product-category">
            <ul class="breadcrumb">
                <li><a href=""><i class="fa fa-home"></i></a></li>
                <li><a href="">Golden King</a></li>
            </ul>
            <div class="row"><aside id="column-left" class="col-sm-3 hidden-xs">
                    <div class="panel panel-default category-treeview">
                        <div class="panel-heading">Categories</div>
                        <ul class="list-group">
                            <li class="category-li">
                                <a href="index98dc.html?route=product/category&amp;path=20" class="list-group-item"> Assorted Shrubs</a>
                                <!-- Display all category - child items list -->
                            </li>
                            <li class="category-li">
                                <a href="index1647.html?route=product/category&amp;path=25" class="list-group-item">Cypress</a>
                                <!-- Display all category - child items list -->
                            </li>
                            <li class="category-li">
                                <a href="index4eb1.html?route=product/category&amp;path=65" class="list-group-item">Berries</a>
                                <!-- Display all category - child items list -->
                            </li>
                            <li class="category-li">
                                <a href="index78aa.html?route=product/category&amp;path=66" class="list-group-item">Boxwood</a>
                                <!-- Display all category - child items list -->
                            </li>
                            <li class="category-li">
                                <a href="indexebd7.html?route=product/category&amp;path=67" class="list-group-item">Barberry</a>
                                <!-- Display all category - child items list -->
                            </li>
                            <li class="category-li">
                                <a href="indexe1fb.html?route=product/category&amp;path=69" class="list-group-item">Spirea</a>
                                <!-- Display all category - child items list -->
                            </li>
                            <li class="category-li">
                                <a href="index91c2.html?route=product/category&amp;path=71" class="list-group-item">Azaleas</a>
                                <!-- Display all category - child items list -->
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-viewport">
                        <div id="banner0" class="swiper-container">
                            <div class="swiper-wrapper">      <div class="swiper-slide"><a href="#"><img src="image/cache/catalog/demo/banners/left-banner-280x440.jpg" alt="Left-Banner" class="img-responsive" /></a></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#banner0').swiper({
                            effect: 'fade',
                            autoplay: 2500,
                            autoplayDisableOnInteraction: false
                        });
                        </script>
                    <div class="featured-carousel products-list">
                        <div class="box-heading"><h3>Featured</h3></div>
                        <div class="featured-items products-carousel row">
                            <div class="product-layouts">
                                <div class="product-thumb transition">
                                    <div class="image">
                                        <a href="">
                                            <img class="image_thumb" src="{{ asset('images/cache/catalog/demo/product/04-385x501.jpg') }}" title="aspetur autodit autfugit" alt="aspetur autodit autfugit" />
                                            <img class="image_thumb_swap" src="{{ asset('images/cache/catalog/demo/product/17-385x501.jpg') }}" title="aspetur autodit autfugit" alt="aspetur autodit autfugit" />
                                        </a>

                                        <div class="button-group">
                                            <button class="btn-cart " type="button" title="Add to Cart" onclick="cart.add('43')">

                                                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart
						</span>
                                            </button>
                                            <button class="btn-wishlist" title="Add to Wish List"  onclick="wishlist.add('43');"><i class="fa fa-heart"></i>
                                                <span title="Add to Wish List">Add to Wish List</span>
                                            </button>
                                            <button class="btn-compare" title="Add to compare"  onclick="compare.add('43');"><i class="fa fa-exchange"></i>
                                                <span title="Add to compare">Add to compare</span>
                                            </button>
                                            <button class="btn-quickview" type="button" title="Quick View" onclick="tt_quickview.ajaxView('indexb8ca.html?route=product/product&amp;product_id=43')"><i class="fa fa-eye"></i>
                                                <span title="Quick View">Quick View</span>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="thumb-description">
                                        <div class="caption">
                                            <h4><a href="indexb8ca.html?route=product/product&amp;product_id=43">perspiciatis unde omnis</a></h4>
                                            <div class="rating no-rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>


                                            <div class="price">
                                                $14.00
                                                <span class="price-tax">Ex Tax: $10.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="product-layouts">
                                <div class="product-thumb transition">
                                    <div class="image">
                                        <a href="index9144.html?route=product/product&amp;product_id=40">
                                            <img class="image_thumb" src="image/cache/catalog/demo/product/19-80x104.jpg" title="voluptate velit esse" alt="voluptate velit esse" />
                                            <img class="image_thumb_swap" src="image/cache/catalog/demo/product/11-80x104.jpg" title="voluptate velit esse" alt="voluptate velit esse" />
                                        </a>

                                        <div class="button-group">
                                            <button class="btn-cart " type="button" title="Add to Cart" onclick="cart.add('40')">

                                                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart
						</span></button>
                                            <button class="btn-wishlist" title="Add to Wish List"  onclick="wishlist.add('40');"><i class="fa fa-heart"></i>
                                                <span title="Add to Wish List">Add to Wish List</span>
                                            </button>
                                            <button class="btn-compare" title="Add to compare"  onclick="compare.add('40');"><i class="fa fa-exchange"></i>
                                                <span title="Add to compare">Add to compare</span>
                                            </button>
                                            <button class="btn-quickview" type="button" title="Quick View" onclick="tt_quickview.ajaxView('index9144.html?route=product/product&amp;product_id=40')"><i class="fa fa-eye"></i>
                                                <span title="Quick View">Quick View</span>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="thumb-description">
                                        <div class="caption">
                                            <h4><a href="index9144.html?route=product/product&amp;product_id=40">voluptate velit esse</a></h4>
                                            <div class="rating no-rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <!--<p>
                                        iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a name or number in your address book, a favorites list, or a call log. It also automatically syncs all your contacts from a PC, Mac, or Internet service. And it lets you select and listen to voicemail messages in whatever order you want just like email.
                                    ..</p>-->

                                            <div class="price">
                                                $123.20
                                                <span class="price-tax">Ex Tax: $101.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="product-layouts">
                                <div class="product-thumb transition">
                                    <div class="image">
                                        <a href="indexbb02.html?route=product/product&amp;product_id=42">
                                            <img class="image_thumb" src="image/cache/catalog/demo/product/01-80x104.jpg" title="aliquam quaerat voluptatem" alt="aliquam quaerat voluptatem" />
                                            <img class="image_thumb_swap" src="image/cache/catalog/demo/product/02-80x104.jpg" title="aliquam quaerat voluptatem" alt="aliquam quaerat voluptatem" />
                                        </a>
                                        <div class="sale-icon">Sale</div>
                                        <span class="percent">-10%</span>

                                        <div class="button-group">
                                            <button class="btn-cart " type="button" title="Add to Cart" onclick="cart.add('42')">

                                                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart
						</span></button>
                                            <button class="btn-wishlist" title="Add to Wish List"  onclick="wishlist.add('42');"><i class="fa fa-heart"></i>
                                                <span title="Add to Wish List">Add to Wish List</span>
                                            </button>
                                            <button class="btn-compare" title="Add to compare"  onclick="compare.add('42');"><i class="fa fa-exchange"></i>
                                                <span title="Add to compare">Add to compare</span>
                                            </button>
                                            <button class="btn-quickview" type="button" title="Quick View" onclick="tt_quickview.ajaxView('indexbb02.html?route=product/product&amp;product_id=42')"><i class="fa fa-eye"></i>
                                                <span title="Quick View">Quick View</span>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="thumb-description">
                                        <div class="caption">
                                            <h4><a href="indexbb02.html?route=product/product&amp;product_id=42">aliquam quaerat voluptatem</a></h4>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>



                                            <div class="price">
                                                <span class="price-new">$110.00</span> <span class="price-old">$122.00</span>
                                                <span class="price-tax">Ex Tax: $90.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar panel panel-default information-list">
                        <div class="panel-heading">Information</div>
                        <div class="list-group">
                            <a href="index8816.html?route=information/information&amp;information_id=4" class="list-group-item">About Us</a>
                            <a href="index1766.html?route=information/information&amp;information_id=6" class="list-group-item">Delivery Information</a>
                            <a href="index1679.html?route=information/information&amp;information_id=3" class="list-group-item">Privacy Policy</a>
                            <a href="index99e4.html?route=information/information&amp;information_id=5" class="list-group-item">Terms &amp; Conditions</a>
                            <a href="index2724.html?route=information/contact" class="list-group-item">Contact Us</a>
                            <a href="index7cb2.html?route=information/sitemap" class="list-group-item">Site Map</a>
                        </div>
                    </div>

                </aside>

                <div id="content" class="col-sm-9">

                    <!-- Category Description START -->
                    <h1 class="category-name">Golden King</h1>


                    <div class="category-description">
                        <div class="row">
                            <div class="col-sm-4 category-image">
                                <div class="category-bg">
                                    <a class="cat-img"><img src="{{ asset('images/cache/catalog/demo/banners/categorybanner-03-160x170.png') }}" alt="Golden King" title="Golden King" class="img-thumbnail" /></a>
                                </div>
                            </div>

                            <div class="block-description col-sm-8">

                                <!-- Category listing START -->
                                <div class="category-list">
                                    <h3>Refine Search</h3>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul>
                                                <li>
                                                    <div class="subcategory-image">
                                                    </div>
                                                    <h5><a href="indexb58f.html?route=product/category&amp;path=27_63">Dianthus</a></h5>
                                                </li>
                                                <li>
                                                    <div class="subcategory-image">
                                                    </div>
                                                    <h5><a href="indexeb9a.html?route=product/category&amp;path=27_86">Fern</a></h5>
                                                </li>
                                                <li>
                                                    <div class="subcategory-image">
                                                    </div>
                                                    <h5><a href="indexab21.html?route=product/category&amp;path=27_62">Firewitch</a></h5>
                                                </li>
                                                <li>
                                                    <div class="subcategory-image">
                                                    </div>
                                                    <h5><a href="indexe643.html?route=product/category&amp;path=27_64">Frosty Fire</a></h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Category listing END -->
                                <p class="category-compare"><a href="index6431.html?route=product/compare" id="compare-total">Product Compare (0)</a></p>
                            </div>

                        </div>
                    </div>


                    <!-- Category Description END -->


                    <!-- Category filter START -->
                    <div class="category-filter">
                        <!-- Grid-List Buttons -->
                        <div class="col-md-2 filter-grid-list">
                            <div class="btn-group">
                                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                            </div>
                        </div>

                        <!-- Show Products Selection -->
                        <div class="filter-show">
                            <div class="col-md-4 text-right filter-text">
                                <label class="input-group-addon control-label" for="input-limit">Show:</label>
                            </div>
                            <div class="col-md-8 text-right filter-selection">
                                <select id="input-limit" class="form-control" onchange="location = this.value;">
                                    <option value="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=product/category&amp;path=27&amp;limit=9" selected="selected">9</option>
                                    <option value="indexc032.html?route=product/category&amp;path=27&amp;limit=25">25</option>
                                    <option value="indexd440.html?route=product/category&amp;path=27&amp;limit=50">50</option>
                                    <option value="index00ba.html?route=product/category&amp;path=27&amp;limit=75">75</option>
                                    <option value="index1968.html?route=product/category&amp;path=27&amp;limit=100">100</option>
                                </select>
                            </div>
                        </div>

                        <!-- Sort By Selection -->
                        <div class="filter-sort-by">
                            <div class="col-md-3 text-right filter-text">
                                <label class="input-group-addon control-label" for="input-sort">Sort By:</label>
                            </div>
                            <div class="col-md-9 text-right filter-selection">
                                <select id="input-sort" class="form-control" onchange="location = this.value;">
                                    <option value="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=product/category&amp;path=27&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                                    <option value="index7d73.html?route=product/category&amp;path=27&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                    <option value="index8054.html?route=product/category&amp;path=27&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                    <option value="indexae12.html?route=product/category&amp;path=27&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                    <option value="index9e93.html?route=product/category&amp;path=27&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                    <option value="index0a44.html?route=product/category&amp;path=27&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
                                    <option value="indexfc74.html?route=product/category&amp;path=27&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                    <option value="index3104.html?route=product/category&amp;path=27&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                    <option value="indexee3d.html?route=product/category&amp;path=27&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Category filter END -->

                    <!-- Category products START -->

                    <div class="category-products">

                        <div class="row">
                            {% for service in services %}
                                <div class="product-layout product-list col-xs-12">
                                <div class="product-thumb row">
                                    <div class="image">
                                        <a href="indexc8d7.html?route=product/product&amp;path=27&amp;product_id=28">
                                            <img class="image_thumb" src="{{ asset('images/cache/catalog/demo/product/04-385x501.jpg') }}" title="aspetur autodit autfugit" alt="aspetur autodit autfugit" />
                                            <img class="image_thumb_swap" src="{{ asset('images/cache/catalog/demo/product/17-385x501.jpg') }}" title="aspetur autodit autfugit" alt="aspetur autodit autfugit" />
                                        </a>

                                        <div class="button-group">
                                            <button class="btn-cart " type="button" title="Add to Cart" onclick="cart.add('28')">

                                                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
                                            </button>
                                            <button class="btn-wishlist" title="Add to Wish List"  onclick="wishlist.add('28');"><i class="fa fa-heart"></i>
                                                <span title="Add to Wish List">Add to Wish List</span>
                                            </button>
                                            <button class="btn-compare" title="Add to compare"  onclick="compare.add('28');"><i class="fa fa-exchange"></i>
                                                <span title="Add to compare">Add to compare</span>
                                            </button>
                                            <button class="btn-quickview" type="button" title="Quick View" onclick="tt_quickview.ajaxView('indexc8d7.html?route=product/product&amp;path=27&amp;product_id=28')"><i class="fa fa-eye"></i>
                                                <span title="Quick View">Quick View</span>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="thumb-description">
                                        <div class="caption">
                                            <h4><a href="indexc8d7.html?route=product/product&amp;path=27&amp;product_id=28">aspetur autodit autfugit</a></h4>
                                            <div class="rating no-rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <p class="description">HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high defin..</p>
                                            <div class="price">
                                                $122.00
                                                <span class="price-tax">Ex Tax: $100.00</span> 				</div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Category products END -->

                    <!-- Category pagination START -->
                    <div class="category-pagination">
                        <div class="col-xs-6 text-left">Showing 1 to 2 of 2 (1 Pages)</div>
                        <div class="col-xs-6 text-right"></div>
                    </div>
                    <!-- Category pagination END -->

                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript"><!--
        var tt_live_search = {
            selector: '#search input[name=\'search\']',
            text_no_matches: 'There are no products to list in this category.',
            height: '50px'
        }

        $(document).ready(function() {
            var html = '';
            html += '<div class="live-search">';
            html += '	<ul>';
            html += '	</ul>';
            html += '<div class="result-text"></div>';
            html += '</div>';

            //$(tt_live_search.selector).parent().closest('div').after(html);
            $(tt_live_search.selector).after(html);

            $(tt_live_search.selector).autocomplete({
                'source': function(request, response) {
                    var filter_name = $(tt_live_search.selector).val();
                    var cat_id = 0;
                    var module_tt_live_search_min_length = '1';
                    if (filter_name.length < module_tt_live_search_min_length) {
                        $('.live-search').css('display','none');
                    }
                    else{
                        var html = '';
                        html += '<li style="text-align: center;height:10px;">';
                        html +=	'<img class="loading" src="image/catalog/demo/banners/loading.gif" />';
                        html +=	'</li>';
                        $('.live-search ul').html(html);
                        $('.live-search').css('display','block');

                        $.ajax({
                            url: 'index.php?route=extension/module/tt_live_search&filter_name=' +  encodeURIComponent(filter_name),
                            dataType: 'json',
                            success: function(result) {
                                var products = result.products;
                                $('.live-search ul li').remove();
                                $('.result-text').html('');
                                if (!$.isEmptyObject(products)) {
                                    var show_image = 1;
                                    var show_price = 1;
                                    var show_description = 0;
                                    $('.result-text').html('<a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC02/index.php?route=product/search&amp;search='+filter_name+'" class="view-all-results">   View all results    ('+result.total+')</a>');

                                    $.each(products, function(index,product) {
                                        var html = '';

                                        html += '<li>';
                                        html += '<a href="' + product.url + '" title="' + product.name + '">';
                                        if(product.image && show_image){
                                            html += '	<div class="product-image col-sm-4 col-xs-4"><img alt="' + product.name + '" src="' + product.image + '"></div>';
                                        }
                                        html += '<div class="search-description col-sm-8 col-xs-8">';
                                        html += '	<div class="product-name">' + product.name ;
                                        if(show_description){
                                            html += '<p>' + product.extra_info + '</p>';
                                        }
                                        html += '</div>';
                                        if(show_price){
                                            if (product.special) {
                                                html += '	<div class="product-price"><span class="special">' + product.price + '</span><span class="price">' + product.special + '</span></div>';
                                            } else {
                                                html += '	<div class="product-price"><span class="price">' + product.price + '</span></div>';
                                            }
                                        }
                                        html += '</div>';
                                        html += '<span style="clear:both"></span>';
                                        html += '</a>';
                                        html += '</li>';
                                        $('.live-search ul').append(html);
                                    });
                                } else {
                                    var html = '';
                                    html += '<li style="text-align: center;height:10px;">';
                                    html +=	tt_live_search.text_no_matches;
                                    html +=	'</li>';

                                    $('.live-search ul').html(html);
                                }
                                $('.live-search').css('display','block');
                                return false;
                            }
                        });
                    }
                },
                'select': function(product) {
                    $(tt_live_search.selector).val(product.name);
                }
            });

            $(document).bind( "mouseup touchend", function(e){
                var container = $('.live-search');
                if (!container.is(e.target) && container.has(e.target).length === 0)
                {
                    container.hide();
                }
            });
        });
        //--></script>


    </body>

{% endblock %}